@font-face {
  font-family: 'Inter UI';
  font-weight: 900;
  src: url('/static/fonts/Inter-UI-Black.woff2') format('woff2'),
    url('/static/fonts/Inter-UI-Black.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-weight: 500;
  src: url('/static/fonts/Inter-UI-Medium.woff2') format('woff2'),
    url('/static/fonts/Inter-UI-Medium.woff') format('woff');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 20px;
  font-family: 'Inter UI', system-ui;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  min-height: 100vh;
}

.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 2fr;
  }
}

.input {
  grid-column: span 2;
  border: 2px solid black;
  padding: 48px;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.input:nth-child(2) {
  @media (max-width: 767px) {
    border-top: 1px;
  }
  @media (min-width: 768px) {
    border-left: 1px;
  }
}

.input__label {
  display: flex;
  position: relative;
  align-items: center;
}

.input__label::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -16px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #35d0ba;

  opacity: 0;
  transform: scale(0.9);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.input.active .input__label::before {
  opacity: 1;
  transform: scale(1);
}

.input__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  background: none;
  font-weight: 900;
  font-size: 75px;
  @media (min-width: 768px) {
    font-size: 120px;
  }
}

.input__field::placeholder {
  color: #e6e6e6;
}

.ratio-button {
  font-family: inherit;
  grid-column: span 1;
  padding: 24px;
  border: 2px solid black;
  border-top: 1px;
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
  transition: all 250ms;
}

.ratio-botton:focus,
.ratio-button:active,
.ratio-button.active {
  background: black;
  color: white;
  outline: 0;
}

@media (max-width: 767px) {
  .ratio-button:nth-child(2n) {
    border-left: 1px;
  }
}

@media (min-width: 768px) {
  .ratio-button:not(:first-of-type) {
    border-left: 1px;
  }
}

.info-bar {
  height: 144px;
  padding: 48px 0;
  text-align: center;
  background: #f2f2f2;
  grid-template-rows: 1fr;
}

.info-bar__item {
  justify-self: center;
  align-self: center;
}

.info-bar__item:nth-child(1) {
  grid-column: 1;
}

.info-bar__item:nth-child(2) {
  grid-column-end: -2;
}

.info-bar__item:last-child {
  grid-column-end: -1;
}

.info-bar__item a {
  color: inherit;
}
